@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    
}

<div>
    <label asp-for="@ViewData["Done"]"></label>
    <input asp-for="@ViewData["Done"]" />
</div>
<div>
    <label asp-for="@ViewData["Name"]"></label>
    <input asp-for="@ViewData["Name"]" />
    <span asp-validation-for="@Model"></span>
</div>