@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Web_Assignment_2_To_Dos.Data.To_Do
@{

}

@*<form class="To_Do">
        <input type="checkbox" name="Done?" class="To_Do_Done" />
        <input type="text" name="Tp_DoItem" class="To_Do_Item" />
        <input type="datetime" name="EntryDate" class="To_Do_EntryDate" />
    </form>*@

<!--<form method="get" class="To_Do">
    <label>Done? <input type="checkbox" name="UpdateTo_do.Done" value="@Model.Done" /></label>-->
    @*<input asp-for="@Model.Done" name="UpdateTo_do.Done"/>*@
    @*<input type="text" name=@Model.To_DoItem class="To_Do_Item" />*@
    <!--<label>To Do Item: <input type="text" name="UpdateTo_do.To_DoItem" value="@Model.To_DoItem" /></label>-->
    @*<input asp-for="@Model.To_DoItem" name="UpdateTo_do.To_DoItem" />*@
    @*<input type="datetime" name=@Model.EntryDate class="To_Do_EntryDate" />*@
    <!--<label>Date Time: <input type="datetime" name="UpdateTo_do.EntryDate" value="@Model.EntryDate" /></label>-->
    @*<input asp-for="@Model.EntryDate" name="UpdateTo_do.EntryDate" />*@
    <!--<input type="submit" name="Delete" value="Delete" />
    <input type="submit" name="Update" value="Update" />
</form>-->

<form method="Get" class="To_Do">
    <label>Done? <input type="checkbox" name="UpdateTo_do.Done" class="To_Do_Done" value="@Model.Done" /></label>
    <label>To Do Item: <input type="text" name="UpdateTo_do.To_DoItem" lass="To_Do_Item"  value="@Model.To_DoItem" /></label>
    <label>Date Time: <input type="datetime" name="UpdateTo_do.EntryDate"  class="To_Do_EntryDate" value="@Model.EntryDate" /></label>
    @*<label>Date Time: <input type="hidden" name="UpdateTo_do.EntryDate" value="@entry.EntryDate"  /></label>*@
    @*<input type="submit" name="Delete" value="Delete" />*@
    <input type="submit" name="Update" value="Update" />
    @*<partial name="_To_DoInput" model="@entry" />*@
</form>